<template>
  <div id="title" class="title">
    <h1>{{ $t('title') }}</h1>
  </div>
</template>

<script>
export default {
  name: "Title",
  data() {
    return {
      dbg: "My name is Title.vue",
    };
  },
};
</script>

