#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 0px;
}

/* Component Title */

.title {
	width: 90%;
	display: block;
	margin: 15px 15px 0px 15px;
	padding: 5px 10px 10px 10px;
	background-color: teal;
	color: white;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px 10px 5px #00000080;
	font-weight: bold;
	text-align: left;
}

/* Component NavBar */

.navBar {
	width: 90%;
	min-height: 32px;
	display: block;
	margin: 0px 15px 0px 15px;
	padding: 5px 10px 10px 10px;
	background-color: rgb(0, 90, 90);
	color: white;
	text-align: left;
	box-shadow: 0px 10px 5px #00000080;
	font-weight: bold;
}

.navBarMenuItem {
	display: inline-block;
	min-height: 32px;
	border-radius: 10px;
	margin: 5px 25px 5px 0px;
	padding: 5px;
}

.navBarMenuItem:hover {
	background-color: #ffffff40;
}

.navBarMenuItem>a, .navBarMenuItem>a:visited {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	padding-right: 20px;
}

.navBarMenuItem>a:hover {
	text-decoration: underline;
}

.navBarLangSelectTbl {
	margin-right: 0px;
	margin-left: auto;
	width: 10%;
}

.navBarLangSelectTblTd {
	border-radius: 15px;
	text-align: center;
}

.navBarLangSelectTblTd:hover {
	background-color: #ffffff40;
}

/* Page : Home/TerrySchedule  */

.RouterViewBlock {
	width: 90%;
	display: block;
	margin: 0px 15px 64px 15px;
	min-height: 256px;
	padding: 10px;
	background-color: ghostwhite;
	color: black;
	text-align: left;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 10px 5px #00000080;
}

.tblSelectionPlatform {
	width: 80%;
	margin: auto;
}

.tblSelectionPlatform>caption {
	font-size: large;
	font-weight: bold;
	text-align: left;
}

.tblSelectionPlatformTd {
	color: black;
	background-color: #80808080;
	padding: 10px;
	width: 20%;
	border-radius: 25px;
	text-align: center;
	vertical-align: top;
}

.tblSelectionPlatformTdActive {
	color: white;
	background-color: #004080;
	font-weight: bold;
}

.tblSelectionPlatformTd:hover {
	color: #ffffff;
	background-color: #004080c0;
}

.tblEvents {
	width: 90%;
	margin: auto;
	border-width: 5px;
	border-style: solid;
	border-color: #00000040;
	border-spacing: 0px;
	background-color: #00000010;
	text-align: center;
}

.tblEvents>caption {
	font-size: large;
	font-weight: bold;
	text-align: left;
	background-color: #00000010;
	padding: 10px;
}

.tblEvents>thead {
	background-color: #FFC00040;
}

.tblEvents>thead>tr>td {
	border-bottom: 2px solid black;
}

.tblEvents>tbody>tr:hover {
	background-color: #00004080;
	color: #FFFFFF;
}

.tblEventsTrShift {
	background-color: #00000005;
}

.tblEvents>tbody>tr>td {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.tblEventsTdMonthShift {
	background-color: #0080FF40;
}

.tblEventsTdDayShift {
	background-color: #80C0FF80;
}

.iconPlatform {
	margin-right: 10px;
}


/* Sortie */
.tblSortie {
	width: 80%;
	margin: auto;
	border-width: 5px;
	border-style: solid;
	border-color: #00000040;
	border-spacing: 0px;
	background-color: #00000010;
	text-align: center;
	font-size: small;

}

.tblSortie>caption {
	font-size: large;
	font-weight: bold;
	text-align: left;
	background-color: #00000010;
	padding: 10px;
}

.tblSortie>thead {
	background-color: #FFC00040;
}

.tblSortie>thead>tr>td {
	border-bottom: 2px solid black;
}

.tblSortie>tbody>tr:hover {
	background-color: #00004080;
	color: #FFFFFF;
}

.tblSortieTdRight {
	text-align: right;
}


/* Fissures */
.tblFissures {
	width: 80%;
	margin: auto;
	border-width: 5px;
	border-style: solid;
	border-color: #00000040;
	border-spacing: 0px;
	background-color: #00000010;
	text-align: center;
}

.tblFissures>caption {
	font-size: large;
	font-weight: bold;
	text-align: left;
	background-color: #00000010;
	padding: 10px;
}

.tblFissures>thead {
	background-color: #FFC00040;
}

.tblFissures>thead>tr>td {
	border-bottom: 2px solid black;
}

.tblFissures>tbody>tr:hover {
	background-color: #00004080;
	color: #FFFFFF;
}

.tblFissuresTdRight {
	text-align: right;
}


/* Component Timer */

.timer {
	display: block;
	border-radius: 10px;
	background-color: #6495ed40;
	padding: 0px 10px 0px 10px;
}

.timerExpired {
	display: block;
	border-radius: 10px;
	background-color: #800000d0;
	color: #FFFFFFd0;
	text-align: center;
	font-weight: bold;
}

/* Component : Footer */

.footer {
	width: 89%;
	display: block;
	margin: 15px;
	position: fixed;
	bottom: 0;
	padding: 10px;
	background-color: #004080;
	color: white;
	border-radius: 10px;
	font-weight: bold;
	text-align: right;
	box-shadow: 0px 10px 5px #00000080;
}

/* Generic elements */

body {
	font-family: Arial, Helvetica, sans-serif;
}

h3, p {
	padding: 0px;
	margin: 0px;
}

a, a:visited {
	color: #004080;
	font-weight: bold;
	text-decoration: underline;
}