:root {
	--MainCardWidth: 97%;	
	--MainCardMrgLft: 1.5%;	
	--MainCardMrgRgt: 1%;	
	--MainCardMrgTop: 1%;	
	--MainCardMrgBot: 5%;	
	--MainCardBgColor: #204060;
	--RouterBgColor: #406080;

	--TblBgColor: #FFFFFF10;

	--TblHeadColor:#000000;
	--TblHeadBgColor: #FFFF8040;

	--TblTrHoverColor:#000000;
	--TblTrHoverBgColor: #FFFFFF80;
	--TblTrHoverBgColorShft: #00000010;

	--TblTdMonthShft: #0080FF40;
	--TblTdDayShft: #80C0FF80;

}

#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #000010;
	margin-top: 0px;

	font-family: 'Arial';
	text-align: center;
	color: #2c3e50;
	align-items: center;
	align-self: center;
	align-content: center;

}


/* Component Title */
.title {
	width: var(--MainCardWidth);
	display: block;
	border-radius: 10px 10px 0px 0px;
	border-bottom: #FFFFFF solid 2px;
	
	background-color: var(--MainCardBgColor);
	color: #FFFFFFE0;
	box-shadow: 0px 10px 5px #00000080;
	
	margin: var(--MainCardMrgTop) var(--MainCardMrgRgt) 0 var(--MainCardMrgLft);
	padding: 15px 20px 20px 20px;
	text-align: left;
}

.titleTerryBubble {
	display: inline-block;
	margin: 2px;
	width:128px;
	height: 128px;
	border-radius: 64px;
	background-color: #000020;
	background-image: url("../media/img/Teralyst.png");
	background-size: contain;
	background-position: 10px 10px;
	border: #FFFFFF;
	border-width: 3px;
	border-style: solid;
	box-shadow: #00B0FF 0px 10px 10px;
}

.titleWarFrameLogo {
	float: inline-end;
	width:250px;
	height: 100px;

	background-color: #FFFFFF;
	background-image: url("../media/img/WarframeLogo_Black.png");
	background-size: contain;
	box-shadow: #00B0FF 0px 10px 10px;
}


/* Component NavBar */

.navBar {
	width: var(--MainCardWidth);
	min-height: 32px;
	display: block;
	margin: 0 var(--MainCardMrgRgt) 0 var(--MainCardMrgLft);
	padding: 5px 10px 10px 10px;
	background-color: var(--MainCardBgColor);
	color: white;
	text-align: left;
	box-shadow: 0px 10px 5px #00000080;
	font-weight: bold;
}

.navBarMenuItem {
	display: inline-block;
	min-height: 32px;
	border-radius: 10px;
	margin: 5px 25px 5px 0px;
	padding: 5px;
}

.navBarMenuItem:hover {
	background-color: #ffffff40;
}

.navBarMenuItem>a, .navBarMenuItem>a:visited, .navBarMenuItem>a:active {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	padding-right: 20px;
}

.navBarMenuItem>a:hover {
	text-decoration: underline;
}

.navBarLangSelectTbl {
	margin-right: 0px;
	margin-left: auto;
	width: 10%;
}

.navBarLangSelectTblTd {
	border-radius: 15px;
	text-align: center;
}

.navBarLangSelectTblTd:hover {
	background-color: #ffffff40;
}

/* Page : Home/TerrySchedule  */

.RouterViewBlock {
	width: var(--MainCardWidth);
	display: block;
	margin: 0 var(--MainCardMrgRgt) var(--MainCardMrgBot) var(--MainCardMrgLft);
	min-height: 256px;
	padding: 10px;
	background-color:var(--RouterBgColor);
	color: #FFFFFF;
	text-align: left;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 10px 5px #00000080;
}

.RouterViewBlock a, .RouterViewBlock a:visited, .RouterViewBlock a:active{
	color: #FFFFFF;
	font-weight: bold;
}
.RouterViewBlock a:hover {
	text-decoration: underline;
}

.tabItem{
	background-color: #6080A0;
	color: #FFFFFF;
}

.tblSelectionPlatform {
	width: 80%;
	margin: auto;
}

.tblSelectionPlatform>caption {
	font-size: large;
	font-weight: bold;
	text-align: left;
}

.tblSelectionPlatformTd {
	color:#FFFFFF80;
	background-color: #0080FF;
	padding: 10px;
	width: 20%;
	border-radius: 25px;
	text-align: center;
	vertical-align: top;
}

.tblSelectionPlatformTdActive {
	color: white;
	background-color: #FF0000;
	font-weight: bold;
}

.tblSelectionPlatformTd:hover {
	color: #ffffff;
	background-color: #80C0FF;
}


/* Table */
.tblEvents {
	width: 90%;
	margin: 15px auto 15px auto;
	border-width: 5px;
	border-style: solid;
	border-color: #00000040;
	border-spacing: 0px;
	background-color: var(--TblBgColor);
	text-align: center;
}

.tblEvents>caption {
	font-size: large;
	font-weight: bold;
	text-align: left;
	background-color: #00000010;
	padding: 10px;
}

.tblEvents>thead {
	background-color: var(--TblHeadBgColor);
	color:var(--TblHeadColor);
	font-weight: bold;
}

.tblEvents>thead>tr>td {
	border-bottom: 2px solid black;
}

.tblEvents>tbody>tr:hover {
	background-color: var(--TblTrHoverBgColor);
	color: var(--TblTrHoverColor);
}

.tblEventsTrShift {
	background-color: var(--TblTrHoverBgColorShft);
}

.tblEvents>tbody>tr>td {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.tblEventsTdMonthShift {
	background-color: var(--TblTdMonthShft);
}

.tblEventsTdDayShift {
	background-color: var(--TblTdDayShft);
}

.iconPlatform {
	margin-right: 10px;
}

/* Sortie */
.tblSortie {
	font-size: small;
}

.tblFissuresTdRight {
	text-align: right;
}

/* Component Timer */
.timer {
	display: block;
	border-radius: 10px;
	background-color: #80FF8050;
	margin: 2px;
	padding: 0px 10px 0px 10px;
}

.timerExpired {
	display: block;
	border-radius: 10px;
	background-color: #FF800080;
	color: #FFFFFFd0;
	text-align: center;
	margin: 2px;
	font-weight: bold;
}

/* Component : Footer */
.footer {
	width: var(--MainCardWidth);
	display: block;
	margin: var(--MainCardMrgTop) var(--MainCardMrgRgt) 5px var(--MainCardMrgLft);
	position: fixed;
	bottom: 0;
	padding: 10px;
	background-color: #004080;
	color: white;
	border-radius: 10px;
	font-weight: bold;
	text-align: right;
	box-shadow: 0px 10px 5px #00000080;
}

/* Generic elements */

/* body {
	font-family: Arial, Helvetica, sans-serif;
} */

/* h3, p {
	padding: 0px;
	margin: 0px;
} */

/* a, a:visited, a:active, a:hover {
	color: #004080;
	font-weight: bold;
}

a:hover {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
} */